GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
JWT_SECRET=change-me-in-prod
S3_BUCKET=tebay-qmk
AWS_REGION=us-east-1
FRONTEND_URL=http://localhost:3001
API_BASE_URL=http://localhost:8000
ADMIN_EMAIL=
ENVIRONMENT=development
